.page {
  min-height: 100svh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.instruments {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid rgba(var(--foreground-rgb), 0.1);
  border-radius: 8px;
  background-color: var(--background);
}
.instrument.selected {
  border: 2px solid var(--foreground);
}
.instrument:hover {
  cursor: pointer;
  background-color: rgba(var(--foreground-rgb), 0.05);
}

.tunings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
@media (min-width: 512px) {
  .tunings {
    gap: 16px;
  }
}

.tuning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid rgba(var(--foreground-rgb), 0.1);
  border-radius: 8px;
  background-color: var(--background);
}
.tuning.selected {
  border: 2px solid var(--foreground);
}
.tuning:hover {
  cursor: pointer;
  background-color: rgba(var(--foreground-rgb), 0.05);
}

.notes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid rgba(var(--foreground-rgb), 0.1);
  border-radius: 100%;
  background-color: var(--background);
}
@media (min-width: 512px) {
  .note {
    width: 64px;
    height: 64px;
  }
}
.note:hover {
  cursor: pointer;
  background-color: rgba(var(--foreground-rgb), 0.05);
}
